{% extends 'index.html' %}
{% block context %}
    <title>Diagram Wydatków</title>
    <!-- Dodaj link do biblioteki Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>

        .expense-button,
        .income-button {
            display: inline-block;
            padding: 10px;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            font-size: 16px;
            text-align: center;
            text-decoration: none;
            margin: 5px;

        }

        .expense-button {
            background-color: #FF0000; /* Czerwony kolor dla wydatków */
            color: #FFFFFF;
        }

        .income-button {
            background-color: #00FF00; /* Zielony kolor dla przychodów */
            color: #FFFFFF;
        }

        /* Dodaj efekt podświetlania po najechaniu myszką */
        .expense-button:hover,
        .income-button:hover {
            background-color: #555; /* Nowy kolor tła po najechaniu */
        }
    </style>

    <body>


    <!-- Dodaj element canvas do rysowania diagramu -->
    <canvas id="expenseChart" width="400" height="400"></canvas>

    <script>
        // Pobierz element canvas
        var canvas = document.getElementById('expenseChart');
        var context = canvas.getContext('2d');

        // Dane do przedstawienia na diagramie
        var expensesData = {
            labels:['jedzenie'],
            datasets: [{
                data: [300, 500, 1000], // Przykładowe kwoty wydatków dla jedzenia i mieszkania
                backgroundColor: ['#FF0000', '#FFA500', '#0015ff',] // Kolory dla sektorów wydatków

            }]
        };


        // Utwórz nowy diagram kołowy
        var expenseChart = new Chart(context, {
            type: 'doughnut', // Typ diagramu kołowego
            data: expensesData,
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        labels: {
                            color: 'white' // Kolor etykiet

                        }
                    }
                }
            }
        });

        function updateChartData(newData) {
            expenseChart.data.datasets[0].data = newData;
            expenseChart.update(); // Aktualizuj diagram
        }

        // Funkcje do pokazywania diagramów
        function showExpenseChart() {
            updateChartData([300, 500, 1000]);
        }

        function showIncomeChart() {
            // Tutaj możesz dodać dane i konfigurację dla przychodów
            var incomeData = {
                // ...
            };
            updateChartData([/* ... */]); // Aktualizuj dane dla przychodów
        }
        
    </script>
    
    </body>
    

{% endblock %}
