
{% extends 'base.html' %}

{% block context %}
<div class="container">
    <h2>Create Category</h2>

    <form method="post">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="{{ form.add_category.id_for_label }}">Add Category:</label>
            {{ form.add_category }}
            {% if form.add_category.errors %}
                <div class="error text-danger">
                    {{ form.add_category.errors }}
                </div>
            {% endif %}
        </div>
        
        <button type="submit" class="btn btn-primary">Add Category</button>
    </form>
</div>
{% endblock %}
