<!-- create_expense.html / edit_expense.html -->
{% extends 'base.html' %}

{% block context %}
<div class="container">
    <h2>Create/ Edit Expense</h2>

    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.amount.id_for_label }}">Amount:</label>
            {{ form.amount }}
            {% if form.amount.errors %}
                <div class="error text-danger">
                    {{ form.amount.errors }}
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="{{ form.category.id_for_label }}">Category:</label>
            {{ form.category }}
            {% if form.category.errors %}
                <div class="error text-danger">
                    {{ form.category.errors }}
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="{{ form.payment_method.id_for_label }}">Payment Method:</label>
            {{ form.payment_method }}
            {% if form.payment_method.errors %}
                <div class="error text-danger">
                    {{ form.payment_method.errors }}
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="{{ form.date.id_for_label }}">Date:</label>
            {{ form.date }}
            {% if form.date.errors %}
                <div class="error text-danger">
                    {{ form.date.errors }}
                </div>
            {% endif %}
        </div>

        <button type="submit" class="btn btn-primary">Save Expense</button>
    </form>
</div>
{% endblock %}
