{% load static %}
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container px-4 px-lg-5">
        <div class="d-flex align-items-center">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'assets/img/favicon/android-icon-72x72.png' %}" alt="MyHome Icon" class="mr-2">
                MyHome
            </a>
            <a>Hello {% if user.is_authenticated %} {{ user.username }}<a href="{% url 'logout_view' %}"> logout</a> {% else %} user  <a href="{% url 'login_view' %}">zaloguj</a>  <a href="{% url 'register_view' %}">register</a>{% endif %}</a>
            
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        </div>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto my-2 my-lg-0">
                <li class="nav-item"><a class="nav-link" href="{% url 'category_list' %}">Category</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'payment_method_list' %}">PayMentMethods</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'budget_list' %}">List</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'create_expense' %}">Amount</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'income' %}">Income</a></li>
            </ul>
        </div>
    </div>
</nav>
